.collection-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  a {
    text-decoration: none;
  }
  .comics {
    max-width: 216px;
    margin: 10px;

    .comics-title {
      text-align: center;
      padding: 5px;
      color: white;
      width: 100%;
    }
  }
}
